<!-- detalhesReceita.ejs -->
<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= receita.titulo %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <header class="container-fluid text-center text-white py-3 ">
    <div class="container p-4 align-items-center">
      <h1 >Blog Dos Doces Deliciosos</h1>
      <p class="p">Receitas irresistíveis para adoçar a sua vida!</p>
    </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container bg-transparent">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReceitas" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Receitas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownReceitas">
              <li><a class="dropdown-item" href="/receitas/bolos">Bolos</a></li>
              <li><a class="dropdown-item" href="/receitas/brigadeiros">Brigadeiros</a></li>
              <li><a class="dropdown-item" href="/receitas/tortas">Tortas</a></li>
              <li><a class="dropdown-item" href="/receitas/mousses">Mousses</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contato">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="container py-5">
    <div class="receita-section">
      <h2 class="text-center pb-4"><%= receita.titulo %></h2>
      <img src="<%= receita.imagem %>" alt="Imagem da Receita" class="img-fluid recipe-image mb-4">

      <div class="row">
        <div class="col-md-6">
          <h3 class="subtitulo text-danger">Ingredientes:</h3>
          <ul>
            <% for (let ingrediente of receita.ingredientes) { %>
              <li><%= ingrediente %></li>
            <% } %>
          </ul>

          <h3 class="subtitulo">Modo de Preparo:</h3>
          <ol>
            <% for (let passo of receita.modoPreparo) { %>
              <li><%= passo %></li>
            <% } %>
          </ol>
        </div>

        <% if (receita.cobertura) { %>
          <div class="col-md-6">
            <h3 class="subtitulo">Cobertura:</h3>
            <p><%= receita.cobertura %></p>
          </div>
        <% } %>
      </div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>
